.container{  
  min-height: 60px;
  left: 0;
  right: 0;
  top: 70px;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  z-index: 1;
}
.menu{
  display: flex;
  align-items: center;
  flex: 1;
  flex-wrap: no-wrap;
  justify-content: center;
  @media (max-width: 1400px) {
    display: none;
  }
}
.menu>text {
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 20px;
    flex-wrap: no-wrap;
  }
 .menu> text:hover {
    background-color: rgba(23, 26, 32, 0.1);
    color: black;
    padding: 10px 12px;
    border-radius: 6px;
  }
.rightMenu{
  display: flex;
  align-items: center;
}
.rightBar{
  display:flex;
  align-items: center;
  @media (max-width: 760px) {
    display: none;
  }
}
.rightBar>text{
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 20px;
    flex-wrap: no-wrap;
}
.rightBar>text:hover{
    background-color: rgba(23, 26, 32, 0.1);
    color: black;
    padding: 10px 12px;
    border-radius: 6px;
}
.rightMenu> text {
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 10px;
  }
 .rightMenu> text:hover {
    background-color: rgba(23, 26, 32, 0.1);
    color: black;
    padding: 10px 12px;
    border-radius: 6px;
  }
.customMenu{
  display: flex;
  align-items: center;
  flex: 1;
  flex-wrap: no-wrap;
  justify-content: center;
}
.customMenu>text{
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 20px;
    flex-wrap: no-wrap;
}
.customMenu>text:hover {
    background-color: rgba(23, 26, 32, 0.1);
    color: black;
    padding: 10px 12px;
    border-radius: 6px;
  }
.burgerNav{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  width: 300px;
  z-index: 100;
  list-style: none;
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: start;
  transition: transform 0.2s ease-in; 
 
}
.burgerNav > li {
    padding: 15px 0;
    cursor:pointer;
  }
.burgerNav>li:hover{
  text-decoration: underline;
}
  .burgerNav> text {
    font-weight: 600;
    
  }
.customClose{
  display:flex;
  align-items:center;
  cursor:pointer ;
}
.customClose:hover{
  background-color:rgba(23, 26, 32, 0.1);
  padding:5px 5px;
}
.closeWrap{
  display: flex;
  justify-content: flex-end;
}
